<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fap Streak</title>
</head>
<body>
    <div id="dayCount"><%= lastFap %></div>
    <button id="add">Add Fap</button>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const addButton = document.getElementById('add');

            addButton.addEventListener('click', async function() {
                let data = await fetch('/fap', {
                    method: 'POST'
                }).then(function(response) {
                    return response.json();
                })

                document.getElementById('dayCount').innerText = data.lastFap;
            });
        });
    </script>
</body>
</html>
