block content
  script(src='./public/stylesheets/script.js')
  h1 #{title}
  if user
    h1 WELCOME BACK #{user.name}
    a(href="/logout") LOG OUT
    br
    p Your day count of none Fap : #{user.fapCount}
    form(action="/increaseFapCount", method="POST")
        button.btn.btn-primary(type='submit') Update Fap Count
  else
    h1 Please Login
    form(method='POST')
      div.form-group
        label(for='email') Email:
        br
        input#email.form-control(type='text', placeholder='Email ' name='email' required )
        br
        label(for='password') Password:
        br
        input#password.form-control(type='password', placeholder='Password' name='password' required )
        br 
        br
      button.btn.btn-primary(type='submit') Submit
      br
      a(href="/register") Dont have account  ? Register here
if errors 
    ul
      for error in errors
        li!= error.msg
